
 <div class="container">
        <div class="row">
            <div class="col s7 offset-s7">
             
                <div class="friendsBox">
                <!-- <p class="yourFriends">Friends</p>    --> 
                <i class="small material-icons">people</i>

                <!-- !friends box -->
                <ul class="collectionUP">
                    <li class="collection-item avatarUP">
                            <img src="images/chillavanilla.png" alt="" class="circle responsive-imgUPF">
                        <span class="title">Chilla Vanilla</span>
                        <p>status: online<br>
                            1 pending Activities
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatarUP">
                        <img src="images/foxyBrown.png" alt="" class="circle responsive-imgUPF">
                        <span class="title">Brown Sugar</span>
                        <p>status: online<br>
                            2 pending Activities
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                   
                    <a class="seeAll" href="userFriends.html">See All</a>
                </ul>
                </div>
            </div>
            </div>
            </div>
            














  
