
<div class="container">
  <div class="row">
    <div class="col s6">
      <div>
        {{!-- the below items will now need to pull from the db rather than
        auth0, as they're doing now. --}}
        <p class="curlQueen">{{ fullname }}</p><img src={{ profileImg }} alt=""
          class="circle responsive-img">
        <!-- notice the "circle" class -->
      </div>
    </div>
    <div class="col s7 offset-s7">

      <div class="friendsBox">
        <!-- <p class="yourFriends">Friends</p>    -->
        <i class="small material-icons">people</i>

        <!-- !friends box -->
        <ul class="collectionUP">
          <li class="collection-item avatarUP">
            {{!-- <img src={{ this.profilePicture --}}
            <img src="images/chillavanilla.png" alt="" class="circle
              responsive-imgUPF">
            <span class="title">Chilla Vanilla</span>
            <p>status: online<br>
              1 pending Activities
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatarUP">
            <img src="images/chillavanilla.png" alt="" class="circle
              responsive-imgUPF">
            {{!-- <img src={{ this.profilePicture --}}
            <span class="title">Brown Sugar</span>
          <p>status: online<br>
            2 pending Activities
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>

        <a class="seeAll" href="userFriends.html">See All</a>
      </ul>
    </div>
  </div>
  {{!-- end of friend box --}}

  <div class="col s9">
    <div>
      <p class="curlQueen">Curl Queen</p>
      <div class="col s9">
        <img src="images/curlqueen1.png" alt="" class="circle responsive-imgUP">
        <!-- notice the "circle" class -->
      </div>
    </div>

  </div>
</div>
{{!-- end of curl queen img, name --}}

<div class="row">
  <div class="col s8">
    <!-- <div class="uPCard"> -->
    <div class="card two">
      <div class="card-content">
        <p>I love to explore and enjoy the outdoors. You can find me at the top
          of the mountain every Wednesday and Sunday. Happy hiking!!</p>
      </div>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a href="#test4">Interests</a></li>
          <li class="tab"><a class="active" href="#test5">Your Activities</a></li>
          <li class="tab"><a href="#test6">Your Notes</a></li>
        </ul>
      </div>
      <div class="card-content grey lighten-4">
        <div id="test4">Biking<br>Hiking</div>
        <div id="test5">
          <a class="uFLinks"
            href="https://www.atlantatrails.com/chattahoochee-river-trails/"
            target="_blank">Chattahoochee River Trails</a><br>
          <a class="uFLinks"
            href="https://www.atlantatrails.com/chattahoochee-river-trails/"
            target="_blank">Ocama Mountain</a>


        </div>
        <div id="test6" type="text" name="fname" placeholder="Only you can
          see your notes...">Set up hiking event at Stone Mountain<br>Do a Paint n Sip</div>
      </div>
      <!-- </div> -->
      <!-- ** Begin Modal Logic -->
      <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add an Event</a>

          <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Add an Event</h4>
              <div class="input-field col s6">
                <input id="event_name" type="text" class="validate">
                <label for="event_name">Event Name</label>
              </div>
              <div class="input-field col s6">
                <input id="event_date" type="date" class="validate">
                <label for="event_date">Event Date</label>
              </div>
              <div class="input-field col s6">
                <input id="event_location" type="text" class="validate">
                <label for="event_location">Event Location</label>
            </div>
          </div>
          
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat"> + Add </a>
          </div>
        </div>
       <!-- ** End Modal Logic -->
        </div>
          </div>
          </div>
    {{!-- end of userProfile info card --}}



            {{!-- end of container --}}
          
            </div>
