<div class="container">
    <div class="row">
        <div class="col s12">
            <p class="userFriends">Friends(2)</p>

            <div class="friendBox">
                <ul class="collection">
    
                    <li class="collection-item avatar">
                        <div class="uFImgBox">
                            <img src="images/chillavanilla.png" alt="" class="FP1circle"><br> <span
                                class="FPtitle">CHILLA VANILLA</span><br>
                            <a class="rfwaves-effect waves-light btn-small">Remove Friend</a>
                        </div>
                        {{!-- end of chilla vanilla name and img --}}

                        <div class="wrapperUFB">

                                <div class="card">
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information. I
                                            am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-tabs">
                                        <ul class="tabs tabs-fixed-width">
                                            <li class="tab"><a href="#test4">Interests</a></li>
                                            <li class="tab"><a class="active" href="#test5">Activities</a></li>

                                        </ul>
                                    </div>
                                    <div class="card-content grey lighten-4">
                                        <div id="test4">Reading<br>Traveling</div>
                                        <!-- link data activity -->
                                        <div id="test5"><a class="uFLinks"
                                                href="https://www.atlantatrails.com/chattahoochee-river-trails/"
                                                target="_blank">Chattahoochee River Trails</a></div>

                                    </div>
                                </div>
                            </div>

                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        {{!-- end of chilla vanilla info card --}}

                <br>

                  <li class="collection-item avatar">
                            <div class="uFImgBox">
                                <img src="images/chillavanilla.png" alt="" class="FP1circle"><br> <span
                                    class="FPtitle">BROWN SUGAR</span><br>
                                <a class="rfwaves-effect waves-light btn-small">Remove Friend</a>
                            </div>
                            <!-- end of brown sugar name, img -->

                            <div class="wrapperUFB2">

                                <div class="card">
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information. I
                                            am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-tabs">
                                            <ul class="tabs tabs-fixed-width">
                                                     <li class = "tab"><a href = "#test7">INTERESTS</a></li>
                                                    <li class = "tab"><a class = "active" href = "#test8">
                                                       ACTIVITIES</a></li>
                                                </ul>
                                            </div>
                                            <div class="card-content grey lighten-4">
                                                    <div id = "test7" class = "col s12">Inbox</div>
                                                    <div id = "test8" class = "col s12">Unread</div>
        

                                    </div>
                                </div>
                            </div>

                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        </ul>
                        {{!-- end of entire collection box, holds user's friends --}}
            

            </div>
        </div>
    </div>
    {{!-- end of div col12, row, container --}}