  <div class="container">
    <div class="row">
      <div class="col s6 offset-s6">
        <div class="friendsBox">
          <i class="small material-icons">people</i>
          <ul class="collection">
            {{!-- this should be replaed with a handlebars marker; using the handlebars each tag. We should then have a partial called friends which contains for each friend: 
            in the comments below --}}
            <li class="collection-item avatar">
              
              <img src="images/9EtherMask.png" alt="" class="circle">
              <span class="title">Lizard Man {{!-- this should be replaced by this.username in brackets. --}}</span>
              <p>status: online {{!-- this should be replaced by this.status in brackets, if we actually want to include a state identifier. If so, this is a whole other bit of functionality --}}<br>
              1 pending Activities {{!-- does this refer to events on their schedule? --}}</p><a href="#!" class=
              "secondary-content"><i class=
              "material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <img src="images/NightWatcherMask.png" alt="" class=
              "circle"> <span class="title">World Watcher</span>
              <p>status: online<br>
              2 pending Activities</p><a href="#!" class=
              "secondary-content"><i class=
              "material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <img src="images/chillavanilla.png" alt="" class=
              "circle"> <span class="title">Chilla Vanilla</span>
              <p>status: offline<br>
              0 pending Activities</p><a href="#!" class=
              "secondary-content"><i class=
              "material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <img src="images/lazydaizy.jpg" alt="" class="circle">
              <span class="title">Lazy Daizy</span>
              <p>status: offline<br>
              3 pending Activities</p><a href="#!" class=
              "secondary-content"><i class=
              "material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <img src="images/NightWatcherMask.png" alt="" class=
              "circle"> <span class="title">World Watcher</span>
              <p>status: online<br>
              2 pending Activities</p><a href="#!" class=
              "secondary-content"><i class=
              "material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <img src="images/NightWatcherMask.png" alt="" class=
              "circle"> <span class="title">World Watcher</span>
              <p>status: online<br>
              2 pending Activities</p><a href="#!" class=
              "secondary-content"><i class=
              "material-icons">grade</i></a>
            </li><a class="seeAll" href="manageFriends.html">See
            All</a>
          </ul>
        </div>
      </div>
      <div class="col s6">
        <div>
          {{!-- the below items will now need to pull from the db rather than auth0, as they're doing now. --}}
          <p class="curlQueen">{{ fullname }}</p><img src={{ profileImg }} alt="" class="circle responsive-img">
          <!-- notice the "circle" class -->
        </div>
        {{!-- <div class="col s10"> userProfile </div> --}}
      </div>
    </div>
    <div class="row">
      <div class="col 12">
        <div class="card">
          <div class="card-content">
            <p><span class="black-text">I am a very simple card. I am
            good at containing small bits of information. I am
            convenient because I require little markup to use
            effectively.</span></p>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><span class="black-text"><a href=
              "#test4">Interests</a></span></li>
              <li class="tab"><span class="black-text"><a class=
              "active" href="#test5">Your Activities</a></span></li>
              <li class="tab"><span class="black-text"><a href=
              "#test6">Your Notes</a></span></li>
            </ul>
          </div>
          <div class="card-content grey lighten-4">
            <div id="test4">
              <span class="black-text">Test 1</span>
            </div>
            <div id="test5">
              <span class="black-text">Test tEST</span>
            </div>
            <div id="test6" input="" type="text" name="fname"
            placeholder="Only you can see your notes..."></div>
          </div>
        </div>
      </div>
    </div>
  </div>
