/* ?browser display */
#container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
   
}
/* ?HiH font, mouse-pointer, background */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    background-image: url("public/Images/hhBack2 copy.jpg");
    cursor:url(images/world.png),auto;
}


/* null */
#leftLogo {
    font-size: 40px;
    font-weight: 700;
}


  /* !B */
  .page-footer {
    /* background-color: aliceblue; */
    margin-top: 0;
    width: 100%;
    height: 140px;
    

}

/* !UP */
.collectionUP {
    width: 700px;
    
}

/*! UP */
.collection-item.avatarUP {
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 5px;

    
    /* height: 1700px; */
}

/*! UP */
/* see all friends link in user profile friends box */
.seeAll {
    color: gray;
}

/* !UP */
/* your friends text above friends box */ 
.yourFriends {
    font-size: 20px;
    font-weight: 800;
}

/*! UP */
/* people icon above friends box */
.small.material-icons {
    font-size: 40px;
        position: relative;
        /* Adjust these values accordingly */
        top: 5px;
        left: 5px;
      
}

/*! UP *
/* top left hih icon */
.brand-logo {

    font-weight: 700;
    margin-left: 15px;
}

/* !B */
.nav-title {
    font-weight: 700;
    margin-left: 15px;
}

/* !UP */
/* div holds entire friends box + friends text */
.friendsBox {
    margin-top: 150px;
    margin-left: 200px;
}

/*! UP  */
.circle.responsive-imgUP {
    position: relative;
    top: -999px;
    left: 140px;
    width: 300px;
    background: red;
    /* display: inline-block;
    vertical-align: right; */
}

/* !UP */
.circle.responsive-imgUPF {
    /* position: relative;
    top: -1299px;;
    left: 80px; */
    width: 150px; 
    background: #97FF8F; 
    
 
    /* display: inline-block;
    vertical-align: right; */
}

/* !UP */
.curlQueen {
    position: relative;
    top: -460px;
    left: 60px;
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 900;
    color: red;
    /* display: inline-block;
    vertical-align: middle; */

}

/* !UP */
.uPCard {
    position: relative;
    top: -850px;
    left: -165px;
    width: 100%;
}

/* !UP */
.circleUP {
    width: 100px;
}

/* START OF USER FRIENDS CSS */
/* ???????????????????????? */
/* !!!!!!!!!!!!!!!!!!!!!!!! */


/* .friendBox {
    height: 900px;
    width: 100%;

} */

/* .collection-item.avatar {
    width: 900px;
    height: 300px;
} */
/* box that holds all friend info */
/* !FU */
.collection-item.avatar {
    width: 100%;
    height: 380px;
    background-color: white;
    padding: 5px;

    
    /* height: 1700px; */
}
/* !UP */
.collection-item.avatarUP {
    width: 50%;
    height: 340px;
    background-color: white;
    padding: 5px;

    
    /* height: 1700px; */
}

/* !B */
.circle {
    width: 700px;
}

/* !FU */
/* user friend image */
img.FP1circle {
    position: relative;
    left: -50px;
    background-color: #97FF8F; 
    
    border-radius: 50%;
    /* width: 200px;
    height: 300px;
    background: lawngreen; */
}

/* !FU */
/* text above friends box 48 */
.userFriends {
    font-size: 70px;
    font-weight: 700;

}

/* !FU */
.FPtitle {
    color: red;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    position: relative;
    left: -44px;
}

/* !FU */
/* background blue box that holds friend name and info */
.wrapperUFB {
    height: 290px;
    background-color: aliceblue;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: relative;
    top: -270px;
    left: 290px;
    width: 530px;
    margin: 0px;
    padding: 20px;
    display: block;
}
/* !FU */
.wrapperUFB2 {
    height: 290px;
    background-color: aliceblue;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: relative;
    top: -290px;
    left: 290px;
    width: 530px;
    margin: 0px;
    padding: 20px;
    display: block;
}

/* .wrapperUFB3 {
    height: 290px;
    background-color: aliceblue;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: relative;
    top: -270px;
    left: 290px;
    width: 530px;
    margin: 0px;
    padding: 20px;
    display: block;
} */


/* interest text in user box */
/* .uFInterest {
    font-size: 30px;
    margin-top:  15px;
    text-decoration: underline;
    text-align: center;
    display: inline-block;
} */


/* !B */
/* card inside friend box that holds friend info */
.card {
    position: initial;
    text-align: center;
    display: inline-block;

    height: 200px;
    /* width: 390px;
    height: 400px;
    background-color: white; */
}

.card.two {
    position: relative;
    top: -850px;
  
    height: 300px;
}

/* !FU */
/* remove button */
.rfwaves-effect.waves-light.btn-small {

    height: 40px;
    width: 220px;
    font-size: 20px;
    margin-top: 30px;
    padding: 4px;
    border-radius: 3px;
}

/* links on user friend page for activities */

.uFLinks {
    color: palevioletred;
    font-weight: 900;
}

