#hiHumanBox {
    padding: 70px;
    margin: auto;
    font-size: 70px;
    text-align: center;

}

.footer {
    text-align: center;
}

.landingButtons {
    margin: 30px;
}

#signIn, #newAccount {
    padding: 10px 10px;
}
